.appContainer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.labelsAndInputs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.labelsAndInputs label,
.labelsAndInputs input {
    margin-right: 5px;
}

.button {
    margin: 20px auto 20px;
    display: block;
    padding: 10px 20px;
    background-color: #282c34;
    color: #ffffff;
}

